[features]
seeds = false
skip-lint = false

[programs.devnet]
audio_token_platform = "9m8ApaLxscUk6VhsuN12imf6ZvuCqPt42uDJMA1eRe7Y"

[programs.mainnet]
audio_token_platform = "9m8ApaLxscUk6VhsuN12imf6ZvuCqPt42uDJMA1eRe7Y"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
